<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Agenda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-12 text-left" > 
                    <h1>Formulario Agenda</h1>
                    <h2 th:text="${agenda}"></h2>
                    <form th:action="@{/mvc/agendas}" th:object="${agenda}" method="POST">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input name="nome" th:field="*{nome}" type="text" class="form-control" id="nome" aria-describedby="Nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input name="telefone" th:field="*{telefone}" type="text" class="form-control" id="telefone" aria-describedby="Telefone" placeholder="Telefone">
                        </div>
                        <div th:switch="${agenda.id == null}" class="form-group text-center">
                            <span th:case="true" >
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </span>
                            <span th:case="false" >
                                <button type="submit" th:name="_method" th:value="PUT" class="btn btn-primary float-left">Editar</button>

                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</html>
